*{
margin:0;
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.flex-container > .card{
    background-color: pink;
    margin:1em;
    width:10em;
    padding: 1em;
}

header{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 1em;
}
nav{
    display:flex;
}
a{
    all: unset;
    cursor:pointer;
    margin-left:1em;
}


