*{
margin:0;
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.flex-container > .card{
    background-color: pink;
    margin:1em;
    width:10em;
    padding: 0.5em;
}

header{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 1em;
}
nav{
    display:flex;
}
nav a{
    font-size: 20px;
}

a{
    all: unset;
    cursor:pointer;
    margin-left:1em;
}



@media  screen and (max-width: 320px) {
    body{
        background-color: blueviolet;
        font-size: 10px;
    }

    nav a {
        font-size:10px;
    }
}