:root {
  --black: #000;
  --white: #ffffff;
  --light: 100;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}
/* General styling */
body {
  background-color: var(--black);
  color: var(--white);
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  font-family: Neue Montreal;
}
hr {
  height: 1px;
  background-color: var(--white);
}
a {
  all: unset;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}
.stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  color: var(--white);
}
.stroke:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
  color: var(--black);
}
/* Mark the current page */
.is-selected {
  border-bottom: 2px solid var(--white);
  padding-bottom: 2px;
}
.is-selected:hover::after {
  transform: scaleX(0);
}
/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  margin: 4em;
}
header .title,
header .title2 {
  margin-top: -0.5em;
  margin-bottom: 0;
  font-family: Neue Montreal;
  font-weight: var(--light);
  font-size: 56px;
  display: block;
}
header .title2 {
  font-size: 24px;
}

header .label {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Neue Montreal;
  font-weight: var(--light);
  font-size: 24px;
}
header .label2 {
  font-size: 18px;
}
header nav a {
  margin-right: 1em;
}

/* ABOUT PAGE */
.about-text {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  margin: 3em;
  max-width: 600px;
}
.about-text .big-text::after {
  content: "🍊";
}
.big-text {
  font-weight: var(--medium);
  font-size: 64px;
  margin-bottom: 0;
}
.about-text div {
  display: flex;
  justify-content: flex-end;
}

/* PROJECT PAGE */

.project-text {
  margin: 0 64px;
  display: inline-block;
}

.portfolio,
.about-page {
  margin: 100px 64px;
  display: flex;
}

.portfolio .project-picture,
.about-page .about-picture {
  width: 50%;
  max-height: 600px;
  max-width: 600px;
}
.portfolio .project-picture img,
.about-page .about-picture img {
  width: 100%;
  height: auto;
}

.portfolio .project,
.about-page .about-me {
  border-top: solid 1px var(--white);
  width: 60%;
  max-height: 400px;
  position: relative;
  margin: 0 2em;
}
.about-page .about-me {
  max-height: 600px;
}

/* PROJECT PAGE */
.portfolio .project .project-number,
.about-page .about-me .about-number {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}
.portfolio .project .project-title,
.about-page .about-me .about-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: Neue Montreal;
  font-weight: var(--black);
}
.portfolio .project .project-title:hover {
  opacity: 0.8;
}

.portfolio .project .project-description,
.about-page .about-me .about-description {
  margin-bottom: 20px;
  font-weight: var(--light);
}
.portfolio .project .project-tags {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* CONTACT PAGE */
.contact-text {
  display: block;
  max-width: 1000px;
  margin: 64px auto;
}
.contact-text form {
  margin: 0 auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group label {
  display: block;
  width: max-content;
  line-height: 1.4;
}
.input-group input,
.input-group textarea,
.submit {
  font-family: Neue Montreal;
  text-align: center;
  background-color: transparent;
  outline: none;
  padding: 1em 3em 1em;
  border: none;
  border-bottom: 2px solid white;
  color: var(--white);
  font-size: 20px;
  width: 50%;
}
.input-group textarea {
  padding: 2em 3em 0em;
  resize: vertical;
}
.submit-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.submit {
  margin: 6em 0;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  padding: 1em;
  border: none;
  color: var(--black);
  background-color: var(--white);
  transform: scale(1);
  transition: transform 0.5s linear;
}
.submit:hover {
  transform: scale(1.2);
  transition: 0.5s linear;
}

.contact-me {
  display: block;
  width: 100%;
  text-align: center;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
  .about-text {
    position: relative;
    margin: 0 auto;
    max-width: 70vw;
  }
  .big-text {
    font-size: 48px;
  }
  .contact-text {
    max-width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .big-text {
    font-size: 40px;
  }
  .contact-text {
    max-width: 600px;
  }
  .portfolio .project .project-title,
  .about-page .about-me .about-title {
    font-size: 26px;
  }
  .input-group input,
  .input-group textarea,
  .submit {
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) {
  .portfolio {
    margin: 80px 64px;
    display: block;
  }
  .portfolio .project-picture,
  .portfolio .project {
    width: 80%;
  }
  .portfolio .project .project-tags {
    position: relative;
  }
  .portfolio .project {
    border-top: solid 1px var(--black);
    margin: 0 auto;
  }
  .input-group {
    display: block;
  }
  .contact-text {
    width: 80%;
  }
  .input-group input,
  .input-group textarea {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 2em;
  }
  .project-text {
    margin: 0 32px;
  }
  .portfolio,
  .about-page {
    margin: 80px 32px;
    display: block;
  }
  .portfolio .project-picture,
  .portfolio .project {
    width: 100%;
  }
  .about-page {
    display: block;
  }
  .about-picture,
  .about-me {
    margin: 0 auto;
  }
  .about-page .about-me {
    border-top: solid 1px var(--black);
    width: 100%;
    margin: 0 auto;
  }
  .about-page .about-me .about-number {
    visibility: hidden;
  }
}

@media screen and (max-width: 460px) {
  header {
    display: block;
  }
  .site-header {
    margin-bottom: 1em;
  }
  nav a:hover::after,
  .about-text-icon:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
  }
  .contact-text {
    justify-content: center;
    margin: 64px 32px;
    width: 80%;
  }
  .about-text {
    justify-content: center;
    margin: 0 1em;
    max-width: 100%;
  }
  .about-page .about-picture {
    width: 100%;
  }
  .about-page h3 {
    font-size: 18px;
  }
}

/* EXTERNAL CODES */

/* Underline effect
https://www.30secondsofcode.org/css/s/hover-underline-animation
*/
nav a::after,
.about-text-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  padding-bottom: 1px;
  bottom: -4px;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav a:hover::after,
.about-text-icon:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* zooming images inside div 
https://codepen.io/lucy_wheel/pen/VxYzKP
https://codeconvey.com/pure-css-image-zoom-on-hover-inside-a-div/

*/
.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
}
.image-box img {
  max-width: 100%;
  transition: all 0.6s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
.image-box:hover img {
  transform: scale(1.1);
}
/* background-gradient 
https://codepen.io/quadbaup/full/ZEQqzqM
 */
.animated-gradient-background {
  animation: animateBg 30s linear infinite;
  background-image: linear-gradient(
    0deg,
    #246655,
    #462466,
    #b66d52,
    #a65773,
    #bbd2a9,
    #7ad5ca,
    #bf8145,
    #de863e,
    #aeba21,
    #246655,
    #462466
  );
  background-size: 100% 1000%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
